:root {
    --white-bg: #ffffff;
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
    --box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik";
    margin: 0;
    padding: 0;
}

.container {
  background-image: url(images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.8rem;
}

.title {
  text-align: center;
  color: #fdfeff;
  margin-top: 20px;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-input {
  height: 50px;
  width: 100%;
  border-radius: 16px 0 0 16px;
  font-size: 18px;
  border-style: none;
  color: var(--dark-gray)
}

.search-button {
  background-image: url(images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border-style: none;
  padding: 26px;
  height: 50px;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--very-dark-gray);
}

.info-cards {
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: 100%;
    padding: 1rem;
    z-index: 2;
}

.info-card {
    text-align: center;
}

.card-title {
    color: var(--dark-gray);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 16px;
}

.card-data {
    color: var(--very-dark-gray);
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
}

#map {
    height: 800px;
    z-index: 1;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.attribution {
    color: var(--dark-gray);
    text-align: center;
    margin: 12px;
    font-size: 16px;
}

.attribution > a {
    color: var(--very-dark-gray);
    margin-left: 10px;
}

@media only screen and (min-width: 1024px) {
    .title {
        font-weight: 500;
        font-size: 34px;
    }

    .search-section {
        margin-top: 25px;
        width: 40%;
    }

    .search-input, .search-button {
        height: 66px;
        font-size: 20px;
    }

    .info-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        margin-top: 50px;
    }

    .info-card {
        text-align: left;
    }

    .vertical-line {
        border-right: 1px solid #dddddd;
        height: 80%;
    }
    
    .card-data {
        font-size: 30px;
    }

    .container {
        height: 32vh;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
    }

    .attribution {
        font-size: 20px;        
    }

    .attribution > a {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1201px) {
    .info-cards {
        width: 80%;
    }
}
